@font-face {
    font-family: 'EliceDigitalBaeum';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_elice@1.0/EliceDigitalBaeum.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'EliceDigitalBaeum';
    background-color: #333;
    color: #f5f5f5;
    max-width: 860px;
    margin: auto;
}

a {
    color: #9fccff;
    text-decoration: none;
}

h1 {
    text-align: center;
}


hr {
    border: 0;
}

footer {
    text-align: center;
    color: #e3c1ff;
    margin: 2em;
}

details {
    width: 430px;
}

.bg1 {
    background-color: #444;
    border-radius-top-left: 45px;
    border-radius-bottom-right: 45px;
}

.bg2 {
    background-color: #333;
    border-radius-top-left: 45px;
    border-radius-bottom-right: 45px;
}

.underbg {
    background-color: #444;
}

@media (orientation: portrait) {
    .card-arrange {
      /* width: 100%; */
    }
}

@media (orientation: landscape) {
    .card-arrange {
       display: inline-block;
    }
}